version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    command: sh -c "python manage.py migrate --noinput && python populate_data.py && python manage.py runserver 0.0.0.0:8000"
    environment:
      - CELERY_BROKER_URL=redis://redis:6379


  redis:
    image: redis:latest
    ports:
      - "6379:6379"

  celery_worker:
    build: .
    command: celery -A core worker -l info
    environment:
      - CELERY_BROKER_URL=redis://redis:6379
    volumes:
      - .:/app
    depends_on:
      - redis
      - web

  celery_beat:
    build: .
    command: celery -A core beat -l info
    environment:
      - CELERY_BROKER_URL=redis://redis:6379
    volumes:
      - .:/app
    depends_on:
      - redis
      - celery_worker
      - web